*,
*::before,
*::after {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {

    overflow-x: hidden;
    background-color: #5271FF;
}

header {

    width: 100%;
    height: 100vh;
    background-color: #fff;
}

/* NAV + LOGO */

.menu {

    width: 100%;
    height: 70px;
    position: relative;
    padding: 50px;
    z-index: 1000;

}

.menu img {

    width: 200px;
    height: 200px;
    position: absolute;
    top: -35px;
    left: -20px;
}

.menu nav {
    height: 3vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    justify-content: space-around;
    margin: auto;

}

.menu nav a {

    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px

}

.menu nav a::after {

    content: "";
    position: absolute;
    background-color: #5271FF;
    height: 3px;
    width: 0;
    left: 0;
    top: 27.5px;
    border-radius: 50px;
    transition: 0.5s;

}

.menu nav a:hover {

    color: #000000;

}

.menu nav a:hover:after {

    width: 100%;

}

/* MAIN */

.main {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
}

.main img {

    z-index: 0;
    width: 60%;
}

.main h1 {

    margin-top: 63px;
    margin-left: -50px;
    color: #a0a0a0;
    font-size: 55px;
    z-index: 10;

}

.main span {

    color: #5271FF;
    font-weight: 800;
}

/* SVG */

.svg {

    position: absolute;
    margin-top: -245px; 
}

.svg2 {


    position: absolute;;
    margin-top: 100px;
}

/* CARD */

.container-main {
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 148px auto 0 auto;
    padding: 10em 0 2em 0;
    width: 87vw;
    max-width: 920PX;
    max-height: 800px;
    border-radius: 23px;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
    font-family: 'Poppins', sans-serif;
  }
   
  .img-main-mobile {
    position: absolute;
    width: 237px;
    bottom: calc(100% - 75px);
  }
  
  .img-mobile-shadow {
    position: absolute;
    bottom: calc(100% - 100px);
  }
  
  .container-main  h1 {
    color: black;
    margin-bottom: 40px;
    font-size: 2rem;
    /* text-transform: uppercase; */
    text-align: center;
  }
  
  .label {
    color: #a0a0a0;
    margin-left: 20px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .label:hover {
    color: #5271FF;
  }
  
  hr {
    border: solid 1px #979797;
    margin: 17px;
    opacity: 0.2;
  }
  
  .content {
    color: #a0a0a0;
    margin-left: 18px;
    font-size: 13px;
    width: 85%;
    height: 0;
    visibility: hidden;
  }
  
  .arrow-icon {
    margin: 5px 30px 0 0;
    float: right;
    transition: all 0.3s ease-in-out;
  }
  
/* JS */
  
  .label-bold {
    font-weight: 800;
    color: black;
  }
  
  .show-answer-content {
    margin-top: 3px;
    height: 100%;
    visibility: visible;
  }
  
  .arrow-rotate {
    transform: rotateX(180deg);
  }
  
/* Media pour responsive */
  
  @media(max-width: 349px) {
    .arrow-icon {
      display: none;
    }
  }
  
  @media(min-width: 1000px) {
  
    .container-main {
      height: 509px;
      padding: 2em 0 0 0;
    }
  
    .accordian {
      width: 40%;
      margin: 0 0 30px 410px;
    } 
    
    h1 {
      text-align: left;
      margin-left: 19px;
    }
  
    .img-main-mobile, 
    .img-mobile-shadow {
      display: none;
    }
  
    .img-main-desktop,
    .img-desktop-lines,
    .img-illustration-box {
      display: inline-block;
      position: absolute;
    }
  
    .img-main-desktop {
      left: -70px;
      bottom: 105px;
      overflow: hidden;
      clip-path: inset(0 0 0 70px);
    }
  
    .img-desktop-lines {
      left: -600px;
      bottom: -105px;
      clip-path: inset(300px 0 105px 600px);
    }
  
    .img-illustration-box {
      bottom: 136px;
      left: -91px;
      z-index: 1;
    }
  }

/* ABOUT */

.about {
    position: relative;
    display: flex;
    margin-top: 400px;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;

}

.about img {

  width: 50em;
  height: auto;

}

.block {

  position: relative;
  display: block;
  margin-top: 7em;
  margin-left: 3em;

}

.block h1 {

  font-size: 5em;
  color: #a0a0a0

}

.block span {

  color: #5271FF;

}

.block p {

    position: relative;
    color: #000;
    margin-top: 2em;
    font-size: 1.3em;
    margin-left: 1.4em;
}

/* FOOTER */

.footer-basic {
  padding:100px 0;
  margin-top: -70px;
  color:#FFFFFF;
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  display: flex;  
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 5em;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  font-size: 2em;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:8em;
  text-align:center;
  font-size:13px;
  color:#fff;
  margin-bottom:0;
}